@charset "utf-8";
/*
//author wallace 华dee
//2015 7 3 
//qq447363121陈国华
*/
#wrapper {
	position: relative;
	z-index: 99;
}
.loader span{
	margin: 0 2px;
	/*animation: loader 0.8s linear infinite alternate;*/
}
.loader a{
	margin: 0 2px;
	display: block;
}